#footer {
    background-color: #2b50d3;
    width: 100%;
    margin: 0%;
    padding: 0%;

    display: flex;
    justify-content:space-around;
    align-items: center;
}

#footer img {
    margin-top: 70px;
    margin-bottom: 70px;
}

#footer p {
    text-align: center;
    color: rgba(255, 255, 255, 0.86);
}
