/********************************************************* Header & Navigation *****************************************************************/

header {
    position: fixed;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    text-decoration: none;
    z-index: 1000;
    width: 100%;
}

header.sticky {
    background-color: #000;
    padding: 30px 10%;
}

header.sticky ul li {
    color: #000;
}

header button {
    color: white;
}

.logo {
    -webkit-transition: all 0.8s ease; /* Safari et Chrome */
    -moz-transition: all 0.8s ease; /* Firefox */
    -ms-transition: all 0.8s ease; /* Internet Explorer 9 */
    -o-transition: all 0.8s ease; /* Opera */
    transition: all 0.8s ease;
}

.logo:hover {
    -webkit-transform:scale(1.15); /* Safari et Chrome */
    -moz-transform:scale(1.15); /* Firefox */
    -ms-transform:scale(1.15); /* Internet Explorer 9 */
    -o-transform:scale(1.15); /* Opera */
    transform:scale(1.15);
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    padding: 0px 60px;
}

.nav_links a {
    text-decoration: none;
    position: relative;
}

.nav_links a::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -3px;
    width: 100%;
    height: 1.5px;
    transform: scaleX(0);
    transform-origin: left;
    background: #0e3ff1;
    transition: transform 0.3s ease-out;
}

.nav_links a:hover::after {
    transform: scaleX(1)
}

li, nav a, button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

button {
    padding: 9px 25px;
    background-color: #0e3ff1;     /* #0e3ff1 */
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;

    -webkit-transition: all 0.8s ease; /* Safari et Chrome */
    -moz-transition: all 0.8s ease; /* Firefox */
    -ms-transition: all 0.8s ease; /* Internet Explorer 9 */
    -o-transition: all 0.8s ease; /* Opera */
    transition: all 0.8s ease;
}

button:hover {
    background-color: rgb(68, 109, 255);

    -webkit-transform:scale(1.1); /* Safari et Chrome */
    -moz-transform:scale(1.1); /* Firefox */
    -ms-transform:scale(1.1); /* Internet Explorer 9 */
    -o-transform:scale(1.1); /* Opera */
    transform:scale(1.1);
}

p {
    margin: 0px 0px;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.cube {
    position:absolute;
    background-color: red;
    width: 50px;
    height: 50px;

    top: 40px;
    right: 40px;
}

.menu-hamburger {
    display: none;
    position:absolute;
    width: 50px;
    height: 50px;
    top: 60px;
    left: 50px;

    -webkit-transition: all 0.5s ease; /* Safari et Chrome */
    -moz-transition: all 0.5s ease; /* Firefox */
    -ms-transition: all 0.5s ease; /* Internet Explorer 9 */
    -o-transition: all 0.5s ease; /* Opera */
    transition: all 0.5s ease;
}

.menu-hamburger:hover {
    -webkit-transform:scale(1.1); /* Safari et Chrome */
    -moz-transform:scale(1.1); /* Firefox */
    -ms-transform:scale(1.1); /* Internet Explorer 9 */
    -o-transform:scale(1.1); /* Opera */
    transform:scale(1.1);
}

.hide {
    display: none;
}


/*******************************************************************************************/

a.menu-hamburger {
    width: 50px;
    height: 20px;
    text-align: center;
    cursor: pointer;
    /*background: red;*/
    z-index: 1001;
    position: absolute;
}

span.line {
    display: block;
    width: 50px;
    height: 4px;
    background-color: #f1f1f1;
    transition: 0.8s ease;
}

.l1 {
    transform: translateY(-10px);
}
.l3 {
    transform: translateY(10px);
}

a.mobile-menu .l1 {
    transform: rotate(135deg) translateY(-5px);
    transition: 0.8s ease;
}

a.mobile-menu .l2 {
    opacity: 0;
    transition: 0.8s ease;
}

a.mobile-menu .l3 {
    transform: rotate(-135deg) translateY(5px);
    transition: 0.8s ease;
}



@media screen and (max-width:999px) 
{
    .logo {
        margin: 0 auto;
        width: 20%;
        z-index: 10;
    }

    .menu-hamburger {
        display: block;
    }

    .nav_links {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.837);
        backdrop-filter: blur(10px);
        width: 100%;
        height: 100vh;
        padding: 0;
        top: 0;
        left: 0;

        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100%;

        transition: all 0.8s ease;
    }

    .mobile-menu {
        margin-left: 0;
    }    

    .nav_links ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav_links ul li {
        margin: 40px 0px;
    }

    .nav_links ul li a {
        font-size: 60px;
    }

    .btnContact {
        position:absolute;
        top: 50px;
        right: 50px;
    }
}







/*.nav_links a {
    margin: 0 10px;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: #414141;
    display: inline-block;
    position: relative;
  }

  .nav_links a::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -3px;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    transform-origin: left;
    background: #333;
    transition: transform 0.3s ease-out;
  }
  
  .nav_links a:hover::after {
    transform: scaleX(1)
  }*/
