/************************************************************* Présentation ********************************************************************/

#presentation_text {
    margin: 250px 10%;
    color: white;
}

#presentation_text h1 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 75px;
    color: white;
}

#presentation_text a {
    color: rgb(14, 63, 241);    /* #0e3ff1 */
    text-decoration: none;
}

#presentation 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#PhotoMOI {
    width: 30%;
    border-radius: 150px;
    margin: 0px 200px;
    padding: 0;

    width: 300px;
    height: 300px;
    max-width : 500px;
    max-height : 500px;

    box-shadow: 5px 5px 5px black;
}   

#presentation_img img {
    -webkit-transition: all 0.8s ease; /* Safari et Chrome */
    -moz-transition: all 0.8s ease; /* Firefox */
    -ms-transition: all 0.8s ease; /* Internet Explorer 9 */
    -o-transition: all 0.8s ease; /* Opera */
    transition: all 0.8s ease;
}

#presentation_img img:hover {
    -webkit-transform:scale(1.25); /* Safari et Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* Internet Explorer 9 */
    -o-transform:scale(1.25); /* Opera */
    transform:scale(1.25);
}

@media screen and (max-width:999px)
{
    #presentation_img img {
        display: none;
    }

    #presentation {
        display: flex;
        justify-content: center;
    }
}