/************************************************************* Projets ********************************************************************/

#projects {
    background-color: #fff;
    box-sizing: border-box;
    width: 100%;
    margin: 0%;
    padding: 0%;
}

#projects p {
    color: #fff;
}

.download_btn {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    text-decoration: none;
    justify-content: center;
    border-radius: 30px;
    border-width: 0px;
    background-color: #0e3ff1;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 16px;
    margin-top: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.4));
    margin-top: 70px;
    margin-bottom: 150px;

    -webkit-transition: all 0.8s ease; /* Safari et Chrome */
    -moz-transition: all 0.8s ease; /* Firefox */
    -ms-transition: all 0.8s ease; /* Internet Explorer 9 */
    -o-transition: all 0.8s ease; /* Opera */
    transition: all 0.8s ease;
}

.download_btn:hover {
    background-color: rgb(68, 109, 255);

    -webkit-transform:scale(1.10); /* Safari et Chrome */
    -moz-transform:scale(1.10); /* Firefox */
    -ms-transform:scale(1.10); /* Internet Explorer 9 */
    -o-transform:scale(1.10); /* Opera */
    transform:scale(1.10);
}

.div_download_btn {
    display: flex;
    justify-content:center;
}

.project_text {
    position: relative;
    width: 350px;
    height: 400px;
    background: rgba(0, 0, 255, 0.803);
    border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
    color: white;
    box-shadow: 20px 20px rgba(0,0,0,.15);
    transition: all .4s ease;
}

.project_text2 {
    position: relative;
    width: 350px;
    height: 400px;
    background: rgba(0, 0, 255, 0.803);
    border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
    color: white;
    box-shadow: -20px 20px rgba(0,0,0,.15);
    transition: all .4s ease;
}

.project_text:hover {
    border-radius: 0% 0% 50% 50% / 0% 0% 5% 5% ;
    box-shadow: 10px 10px rgba(0,0,0,.25);  
}

.project_text2:hover {
    border-radius: 0% 0% 50% 50% / 0% 0% 5% 5% ;
    box-shadow: -10px 10px rgba(0,0,0,.25);  
}

.project_text p, .project_text2 p {
    color: white;
    padding: 10px;
    letter-spacing: 1px;
    word-spacing: 2px;
    text-align: justify;
}

.project_text p b, .project_text2 p b {
    
    border-bottom: 1px solid #f1f1f1;
}

.project_text h2, .project_text2 h2 {
    color: white;
    padding: 20px;
    padding-bottom: 2px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.project_text span, .project_text2 span {
    color: white;
    padding: 0px;  
    margin: 0px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.text_show {
    display: flex;
    justify-content: space-around;  
}

#img_p1 {
    width: 30%;
    border-radius: 20px;
    margin: 0px 200px;
    padding: 0;

    width: 400px;
    height: 400px;
    max-width : 500px;
    max-height : 500px;
}

video {
    object-fit: contain;
    width:700px; 
    height:400px;
    border-radius: 20px;
    filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.4));
}

#The-Red-Knight {
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
}

#TwitchTracker {
    font-family: "Dimis";
    font-size: 35px;
}

#Five-Guys {
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
}

#Museum3D {
    font-family: 'Monoton', cursive;
    font-size: 25px;
}

#Wiki-Search {
    font-family: 'EB Garamond', serif;
    font-size: 25px;
    letter-spacing: 3px;
    word-spacing: 7px;
}

#Wiki-Search span {
    font-family: 'EB Garamond', serif;
    font-size: 35px;
    letter-spacing: 3px;
}

#Infinite-Scroll {
    font-family: 'Roboto', serif;
    font-size: 30px;
    letter-spacing: 3px;
}

#Morpion {
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    font-size: 30px;
}

#Morpion span {
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    font-size: 50px;
    margin-left: 5px;
}

#BlogAPI {
    font-family: 'Lobster', cursive;
    font-size: 30px;
    letter-spacing: 3px;
    font-weight: 100;
}

@media screen and (max-width:999px)
{
    .text_show {
        display: block;
        justify-content: center;
    }

    .project_text2, .project_text {
        width: 100%;
        height: 100%;
        margin-bottom: 50px;

        font-size:xx-large;
    }

    .show_project {
        margin-bottom: 20px;
    }
}

