@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&display=swap');

@font-face {
	font-family: "Dimitri";
	src: URL(../../Ressources/font/DIMITRI_.TTF) format('truetype');
}

@font-face {
	font-family: "Dimis";
	src: url(../../Ressources/font/DIMIS___.TTF) format('truetype');
}

* {
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #24252A;
    margin: 0;
    padding: 0;
    cursor:crosshair;
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #24252A;
    z-index: 1000000;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.preloader h1 {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 3px;
}

.preloader .loader {
    display: block;
    width: 200px;
    animation: loader 1.3s infinite ease-in-out;
}

/* .preloader .loader::before {
    content: "";
    width: 100px;
    height: 100px;
    position: absolute;
    border: 5px solid white;
    border-color: white transparent white transparent;
    border-radius: 50%;
    animation: loader 1s infinite ease-in-out;
} */

@keyframes loader {

    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.marge {
    margin: 0px 150px;
    padding: 50px 0px;
}

#remonter { 
    position: fixed; 							/* fixe la position de l'image */
    width: 25px; 
    height: 25px; 
    bottom: 25px; 							/* place l'image à 25px du bas */
    right: 25px; 								/* place l'image à 25px du bord droit */
  } 

#remonter img { 
    width: 45px; 								/* définit une largeur de 45px */
  }

.scroll-to-top {
    cursor: pointer;
}

.titre {
    font-size: 50px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 100px;
}

.gif {
    transform: translateY(10px);
}

.gifmail {
    transform: translateY(30px);
}



.clickAnim {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: linear-gradient(to top, #ff4e50, #f9d423); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: absolute;
    z-index: 9000;
    transform: scale(0);
    transform-origin:center;
    animation: clickAnim 1s ease-in-out;
}

@keyframes clickAnim {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(2);
        opacity: 1;
    }
    0% {
        transform: scale(0);
        opacity: 0;
    }
}
