@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Roboto&display=swap');

@font-face {
	font-family: "Dimitri";
	src: URL(../../Ressources/font/DIMITRI_.TTF) format('truetype');
}

@font-face {
	font-family: "Dimis";
	src: url(../../Ressources/font/DIMIS___.TTF) format('truetype');
}

* {
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.loader {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

span .letter {
    color: #484848;
    font-size: 80px;
    letter-spacing: 15px;
    animation: flash 1.2s infinite;
}

@keyframes flash {
    0% {
        color: #fff900;
        text-shadow: 0 0 7px #fff900;
    }
    90% {
        color: #484848;
        text-shadow: none;
    }
    100% {
        color: #fff900;
        text-shadow: 0 0 7px #fff900;
    }
}

.letter:nth-child(1) {
    animation-delay: 0.1s;
}
.letter:nth-child(2) {
    animation-delay: 0.2s;
}
.letter:nth-child(3) {
    animation-delay: 0.3s;
}
.letter:nth-child(4) {
    animation-delay: 0.4s;
}
.letter:nth-child(5) {
    animation-delay: 0.5s;
}
.letter:nth-child(6) {
    animation-delay: 0.6s;
}
.letter:nth-child(7) {
    animation-delay: 0.7s;
}

.fondu-out {
    opacity: 0;
    transition: opacity 0.4s ease-out;
}

body {
    background-color: #24252A;
    margin: 0;
    padding: 0;
    cursor:crosshair;
}

.marge {
    margin: 0px 150px;
    padding: 50px 0px;
}

#remonter { 
    position: fixed; 							/* fixe la position de l'image */
    width: 25px; 
    height: 25px; 
    bottom: 25px; 							/* place l'image à 25px du bas */
    right: 25px; 								/* place l'image à 25px du bord droit */
  } 

#remonter img { 
    width: 45px; 								/* définit une largeur de 45px */
  }

.titre {
    font-size: 50px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 100px;
}

.clickAnim {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: linear-gradient(to top, #ff4e50, #f9d423); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: absolute;
    z-index: 9000;
    transform: scale(0);
    transform-origin:center;
    animation: clickAnim 1s ease-in-out;
}

@keyframes clickAnim {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(2);
        opacity: 1;
    }
    0% {
        transform: scale(0);
        opacity: 0;
    }
}
