/* Couleurs */
body {
    background-color: #f8f9fa;
    color: #333;
    background: linear-gradient(to left bottom, #ffffff, #b2d6ff);
}

h2,
h3,
p,
ul,
li {
    color: #343a40;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    color: #0056b3;
    text-decoration: underline;
}

/* Mise en forme de la vidéo */
video {
    border: none;
    border-radius: 0.5em;
    padding: 5px;
}

/* Mise en forme de la liste des technologies */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    padding: 5px;
    border-bottom: 1px solid #007bff;
}

ul li:last-child {
    border-bottom: none;
}

.row {
    margin-bottom: 100px;
}

.container h1 {
    font-size: 3.5em;
    font-weight: bold;
    background: linear-gradient(to right, #4b0082, #0e3ff1, #4b0082);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient 10s infinite linear;
    padding-bottom: 20px;
    padding-top: 20px;
}

h3 {
    background: linear-gradient(to right, #4b0082, #0e3ff1, #4b0082);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient 10s infinite linear;
    padding-bottom: 20px;
    margin-top: 50px;
}

h4 {
    font-size: 20px;
    margin-top: 50px;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


/********************************************* Style général du fil d'Ariane *********************************************/
nav {
    margin-bottom: 3rem;
    z-index: 100;
    background: transparent;
}

ol.breadcrumb {
    padding: 0.75rem 1rem;
    border-radius: 0.25rem;
}

/* Style des liens du fil d'Ariane */
.breadcrumb-item a {
    color: #007bff;
    text-decoration: none;
}

.breadcrumb-item a:hover {
    color: #0056b3;
    text-decoration: underline;
}

.breadcrumb-item.active {
    color: #6c757d;
}

/* Style de l'indicateur de position actuelle */
.breadcrumb-item.active::before {
    content: ">";
    margin-right: 0.5rem;
}


/********************************************* Bouton GitHub Corner *********************************************/
.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {

    0%,
    100% {
        transform: rotate(0)
    }

    20%,
    60% {
        transform: rotate(-25deg)
    }

    40%,
    80% {
        transform: rotate(10deg)
    }
}

@media (max-width:500px) {
    .github-corner:hover .octo-arm {
        animation: none
    }

    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out
    }
}

.material-symbols-outlined {
    transform: translateY(6px);
}

.col-md-8 p {
    text-align: justify;
}